:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3c0247;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.tooltip .tooltipText{
  visibility: hidden;

  /* Position the tooltipText */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  background-color: #1a1a1a;
}

.Navbar{
  padding: 5pt;
  background-color: #77135e;
}

#root{
  width: 100%;
}

#EditButtonfalse{
  float: right;
  vertical-align: top;
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  border-radius: 6pt;
  background-color: gray;
}

#EditButtontrue{
  float: right;
  vertical-align: top;
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  border-radius: 6pt;
  background-color: green;
}

.characterListItem{
  background-color:#77135e;
  padding: 5pt;
  border-radius: 5pt;
}

.attributeDisplayTable {
  border-spacing: 0pt;
  table-layout: fixed;
  overflow: auto;
}

.attributeModifierDisplay{
  font-size: 20pt;
  background-color: #77135e;
  text-align: right;
  font-weight: 600;
}

.attributeDisplay{
  background-color: #77135e;
  font-size: 9pt;
  text-align: left;
  vertical-align: top;
  padding: 2pt;
  margin-right: 2pt;
  border: #3c0247;
  border-right-style: solid;
  border-right-width: 3pt;
}

#basicsTable{
  width: 100%;
}

#basicsRightTable{
  margin-left: auto;
  margin-right: auto;
}

#topBasicsTable{
  margin-left: auto;
  margin-right: auto;
}

.ClassSkill.true{
  background-color:#77135e;
}

.skillTotal{
  background-color: #c4a4a43a;
}

.classTable{
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.classTableTitle{
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
}

.classTableTopPanel{
  padding: 5pt; 
}

.classTableTopPanelTable{
  margin-left: auto;
  margin-right: auto;
}

.classTableMain{
  background-color: #535bf2;
  table-layout: fixed;
}

.classTablePanel{
  vertical-align: top;
  width: calc(100%/3);
}

.skillSelectorItem{
  font-size: 8pt;
  text-align: left;
}

.classFeatureItem.hovering{
  background-color: #4d055c;  
}

.cancel {
  background-color: white;
  color: red;
  font-weight: 900;
  border-radius: 50pt;
  height: auto;
  width: 16pt;
}

.strike {
  text-decoration:line-through;
}

.stillNeeded {
  background-color: rgba(255, 0, 0, 0.188);
  padding: 1pt;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
